.form-control:focus{
    border-color: initial;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.error{
    color: red;
}
input:focus {
    outline-width: 0;
}

.green {
    border: 2px solid green!important;
}

.red {
    border: 2px solid red!important;
}

img {
    margin: 1em;
}

.form-control{
    display: inline;
}

i {
    margin-left: -30px;
    cursor: pointer;
}
